@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4">Welcome to SwiftSeat 🎟️</h1>
</div>

<div class="container">
    <h2 class="mb-4 text-md-start"> 📺 Shows</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Event Date</th>
                    <th>Venue</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var show in Model)
                {
                    <tr>
                        <td class="text-center align-middle">
                            <img src="~/photos/@show.PhotoFileName"
                                 alt="@show.Title"
                                 style="width: 160px; height: 120px; object-fit: contain; " />
                        </td>
                        <td>@show.Title</td>
                        <td>@show.Description</td>
                        <td>@show.EventDate.ToShortDateString()</td>
                        <td>@show.Venue</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
